/*.App {*/
/*    display: flex;*/
/*    flex-direction: row;*/
/*    height: 100vh;*/
/*}*/

/*.side-bar {*/
/*    display: flex;*/
/*    flex-direction: column;*/
/*    width: 15vw;*/
/*    height: 100vh;*/
/*    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1), 0 2px 5px rgba(0, 0, 0, 0.2);*/
/*}*/

/*.side-bar-header {*/
/*    display: flex;*/
/*    flex-direction: column;*/
/*    align-items: center;*/
/*    padding: 10px;*/
/*    color: whitesmoke;*/
/*    background-color: #2d383a;*/
/*    border-bottom: 5px solid crimson;*/
/*}*/

/*.side-bar-header h1 {*/
/*    margin: 0;*/
/*    font-size: 36pt;*/
/*}*/

/*.side-bar-body {*/
/*    padding-left: 10px;*/
/*}*/

/*#api-data {*/
/*    width: 90vw;*/
/*    padding-left: 30px;*/
/*    padding-top: 30px;*/
/*    overflow-y: scroll;*/
/*}*/
/*.api-link {*/
/*    margin-top: 10px;*/
/*    font-size: 12pt;*/
/*    transition: all .1s ease;*/
/*    padding-left: 10px;*/
/*}*/

/*.api-link:hover {*/
/*    cursor: pointer;*/
/*    border-left: 5px solid crimson;*/
/*    transition: all .1s ease;*/
/*}*/


/*Tema escuro*/
.App {
    display: flex;
    flex-direction: row;
    height: 100vh;
    background-color: #0B1D33;
}

.swagger-ui .info {
    background-color: white;
    padding: 50px;
    border-bottom: 5px solid #B32727;
    /* font-family:  */
}

.swagger-ui .info .description p {
    color: black;
}

.swagger-ui .info .description .markdown {
    color: black;
}

.swagger-ui .scheme-container {
    background-color: rgba(1, 1, 1, 0);
    box-shadow: 0 0 0 0;
}

.swagger-ui .schemes-title {
    color: white;
}

.swagger-ui .opblock-tag {
    color: white!important;
    text-transform: uppercase;
    letter-spacing: .1em;
    border-bottom: 1px solid #D4BE7D;
}

.swagger-ui .opblock-tag small {
    color: white!important;
}

.swagger-ui .op-block {
    border-radius: 0;
}

.swagger-ui .opblock .opblock-summary-path {
    color: white!important;
}

.swagger-ui .opblock .opblock-summary-description {
    color: white!important;
}

.swagger-ui .markdown {
    color: white;
}

.swagger-ui .markdown p {
    color: white;
}

.swagger-ui .table-container {
    color: white;
}

.swagger-ui .response-col_status {
    color: white;
}

.swagger-ui .responses-header td {
    color: white;
}

.swagger-ui .table-container th {
    color: white!important;
}

.swagger-ui .table-container .parameter__name {
    color: white!important;
}

.swagger-ui section.models {
    border: 1px solid #D4BE7D;
    border-radius: 0;
}

.swagger-ui section.models h4 {
    color: white!important;
}

.swagger-ui section.models .model-container {
    background-color: white!important;
    border-radius: 0;
}

.swagger-ui section.models .model-container:hover {
    background-color: whitesmoke;
}

.swagger-ui .parameter__type {
    color: white!important;
    font-family: monospace;
    font-size: 12px;
    font-weight: 600;
    padding: 5px 0;
}

.swagger-ui .prop-format {
    color: white!important;
}

.swagger-ui .parameter__in {
    color: white!important;
    font-family: monospace;
    font-size: 12px;
    font-style: italic;
    font-weight: 600;
}

.swagger-ui .response-col_status {
    color: white!important;
    font-family: sans-serif;
    font-size: 14px;
}

.swagger-ui .tab li button.tablinks {
    background: none;
    border: 0;
    color: white!important;
    font-family: inherit;
    font-weight: inherit;
    padding: 0;
}

.swagger-ui a.nostyle, .swagger-ui a.nostyle:visited {
    color: white!important;
    cursor: pointer;
    text-decoration: inherit;
}